<!DOCTYPE html>
<html>
    <head>
        <title>Weatherr App with Pyramid </title>
        <link rel="stylesheet" type="text/css" href="{{ request.static_url('pyramidweatherapp:static/styles.css') }}">
    </head>
    <body>
        <div class="container">
        <img src="static/weather.png" alt="image" style="width:100px; margin-bottom:-20px;";/>
        <h1>Weather App</h1>
        <form method="GET" action="/weather">
            <label for="city">Enter City:</label>
            <input type="text" id="city" name="city" required>
            <button type="submit">Get Weather</button>
        </form>

        {% if weather_data %}
        <div class="weather_info">
            <h2>Weather in {{ request.params['city'] }} </h2>
            <p><strong>Temperature: </strong> {{ weather_data.temperature }} °C</p> 
            <p><strong>Description: </strong> {{ weather_data.description }}</p> 
            <p><strong>Humidity: </strong> {{ weather_data.humidity }} %</p> 
            <p><strong>Pressure: </strong> {{ weather_data.pressure }} hPa</p> 
            <p><strong>Wind Speed: </strong> {{ weather_data.wind_speed }} m/s</p> 
        </div>
        {% elif error %}
        <p class="error>{{error}}" </p>
        {% endif %}
        </div>
    <body/>
    </html>